.clear{
    overflow: hidden;
    
}

.header {
  background-color: windowframe;
  height: 86px;
}

.header img {
  height: 60px;
  margin-top: 11px;
}
.icons img {
  height: 30px;
  margin-top: -3px;
  padding: 7px;
  width: 27px;
}
.icons {
  line-height: 86px;
  float: right;
}
.icons > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.icons ul li {
  display: inline-block;
  margin: 0;
  padding-left: 6px;
}


.icons ul li a:hover{
    background-color: #ff7800;
} 

.icons ul li a {
  border: 1px solid white;
  border-radius: 51px;
  padding: 3px;
}



.text {
  font-size: 37px;
  line-height: 86px;
  TEXT-SHADOW: 1PX 2PX 1px ;
}
/*........menu..........*/
.menu {
  background-color: palegreen;
  height: 37px;
  line-height: 37px;
  text-align: center;
}

.menu ul {
  margin: 0;
  padding: 0;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  color: #145d5e;
  font-size: 18px;
  font-weight: 700;
  padding-right: 14px;
  text-decoration: none;
}

.menu ul li.active a {
  color: #ff7800;
}
.menu ul li a:hover {
  color: #ff7800;
}

/*................end..................*/

.banner-first > img {
  height: 946px;
  width: 728px;
}.banner-second > img {
  height: 946px;
  width: 728px;
}


.banner-first {
  float: left;
}

.banner-first > img {
  height: 527px;
  width: 355px;
}
.banner-second > img {
  height: 527px;
  width: 364px;
}



/*banner area*/
.nin {
  background-image: url("image/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
   position: relative;
    
    top: 0;
    bottom: 0;
  }

.bobo {
  background-color: rgba(0, 0, 0, 0.57);
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  
}

.banner h1 {
  color: #a2ec0c;
  font-size: 52px;
  margin-bottom: 31px;
  margin-left: 65px;
  margin-top: 213px;
}
.banner p {
  color: blanchedalmond;
  font-size: 17px;
  margin-left: 62px;
  width: 46%;
}

.btn {
  background-color: orangered;
  color: white;
  margin-left: 177px;
  margin-top: 14px;
}

.btn:hover{
    color: black;
}

/*welcome*/
.welcome-inner h1 {
  color: slateblue;
  margin-bottom: 30px;
}
.welcome-inner {
  text-align: center;
}
.welcome-inner > p {
  color: black;
  margin: 0 auto;
  width: 68%;
}


.welcome {
  background-color: #e3e3e3;
  padding-bottom: 31px;
  padding-top: 40px;
}
h1.moom::after {
  background: #fc721e none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 407px;
  position: absolute;
  top: 55px;
  width: 302px;
}
h1.moom {
  position: relative;
}


/*datlis*/
.details {
  padding-bottom: 44px;
  padding-top: 25px;
}
.imag > img {
  height: 203px;
  width: 350px;
}

.photo-details > p {
  margin: 0 auto;
  text-align: center;
  width: 92%;
}

.photo-titlis {
  margin-top: -22px;
  position: absolute;
  margin-left: 33px;
}

.imag {
  position: relative;
}

.photo-titlis {
  background-color: #fc721e;
  border-radius: 2px;
  color: white;
  margin-left: 27px;
  margin-top: -24px;
  padding: 4px 40px;
  position: absolute;
}


.read-more {
  padding-bottom: 17px;
  padding-top: 15px;
  text-align: center;
}
.read-more a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.photo-titlis h3 {
  font-size: 21px;
}


.photo-details {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ddd;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  padding-top: 25px;
  text-align: center;
  width: 100%;
}



.photo-box:hover{
    box-shadow: 0 0 15px;
}
.photo-box:hover .read-more a{
    color: #fc721e;
}

/*footer*/

.menu2 ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}



.footera-area {
  background-color: #41423f;
  padding-top: 51px;
}

h3.noon {
  border-image: none;
  color: white;
  padding-bottom: 18px;
  position: relative;
}
h3.noon::after {
  background: #fc721e none repeat scroll 0 0;
  height: 2px;
  position: absolute;
  top: 37px;
  width: 54px;
  content: "";
  left: 0px;
}


/*team*/
.team-photo > img {
  height: 255px;
  width: 270px;
}
.OURTEAM > h3 {
  font-size: 34px;
  padding-bottom: 20px;
  padding-top: 24px;
  text-align: center;
}
.OURTEAM > p {
  text-align: center;
  width: 36%;
  margin: 0 auto;
  padding-bottom: 26px;
}
.team-details h4 {
  font-size: 20px;
  padding-bottom: 8px;
  padding-top: 26px;
  text-align: center;
}
.team-details > p {
  text-align: center;
  padding-bottom: 8px;
}
.team-contact > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.team-contact li {
  display: inline-block;
}
.team-contact ul li a {
  border: 1px solid black;
  color: black;
  padding: 7px;
  text-decoration: none;
}


.team-contact ul li a:hover{
    color: #fc721e;
    border: 1px solid #fc721e;
} 
.team-contact {
  padding-bottom: 38px;
  text-align: center;
}

.team-details {
  border: 1px solid #ddd;
  margin-right: -15px;
}
.TEAM {
  padding-bottom: 43px;
}
.team-photo {
  padding-bottom: 12px;
}





.team-photo::after {
    background: #fc721e none repeat scroll 0 0;
    content: "";
    height: 58%;
    left: 14px;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 95%;
}
.singel-box:hover .team-photo::after {
    opacity: 0.50;
    visibility: visible;
}


/*touch*/
.get_right {
  float: left;
  margin-right: 0px;
  padding-top: 81px;
  padding-left: 49px;
}
.get_right > h4 {
  color: navy;
  font-size: 29px;
  padding-bottom: 20px;
  text-shadow: 2px 4px 2px;
}
.touch > h4 {
  color: purple;
  font-size: 41px;
  padding-top: 35px;
  text-align: center;
  text-shadow: 1px 2px 3px black;
}

.get_left {
  float: left;
  padding-left: 0;
  width: 34%;
}
.get_form input {
  padding: 5px;
  width: 306%;
}
textarea {
  padding: 9px;
  width: 307%;
}
input.btn {
  border-radius: 34px;
  font-size: 22px;
  margin-bottom: 0;
  margin-left: 220%;
  margin-top: 0;
  width: 80%;
}
/*.get_in_touch {
  background: #e5cde2 none repeat scroll 0 0;
  padding-bottom: 23px;
}*/

.get_in_touch {
  background-image: url(image/contact-us.jpg);
  padding-bottom: 23px;
     background-repeat: no-repeat;
  
}





.footerb-area {
  background-color: black;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
}






.about > p {
  color: #8e8c8c;
  width: 62%;
  text-align: justify;
}

.contact > p {
  color: #8e8c8c;
  text-align: justify;
}
.menu2 ul li a {
  color: #8e8c8c;
  text-decoration: none;
}
.menu2 ul li a:hover{
    color: wheat;
}

.menu2 ul li {
  padding-bottom: 10px;
}
.menu2 {
  margin-left: 158px;
}
/*menu..............................*/

/*datlis*/
.details {
  padding-bottom: 44px;
  padding-top: 25px;
}
.imaga > img {
  float: left;
  height: 203px;
  width: 350px;
}           
 




.imaga {
  position: relative;
}

.photo-abouta {
  padding: 39px 0 44px 38%;
}
  .photo-boxa {
  height: 100%;
  width: 206%;
}

.read-more {
  padding-bottom: 17px;
  padding-top: 15px;
  text-align: center;
}
.read-more a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.monu {
  padding-bottom: 23px;
}

.photo-details {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ddd;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  padding-top: 25px;
  text-align: center;
  width: 100%;
}



.photo-boxa:hover{
    box-shadow: 0 0 15px;
}
.photo-boxa:hover .read-more a{
    color: #fc721e;
}




  .photo-boxaa {
  height: 100%;
  width: 206%;
}
.imagaa > img {
  float: right;
  height: 203px;
  width: 350px;
}           
 


.photo-aboutaa {
  height: 203px;
  padding-left: 10px;
  padding-right: 0;
  padding-top: 43px;
  width: 64%;
}
imagaa {
  position: relative;
}



/*..................about details....................*/

.abo {
  padding-bottom: 18px;
  text-align: center;
}
.abo font {
  font-size: 58px;
  text-shadow: 4px 5px #d8abeb;
}

h1.non::after {
  background: #fc721e none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 510px;
  position: absolute;
  top: 66px;
  width: 123px;
}

/*----------------------skill ----------------*/
.skillright img {
  width: 687px;
}
.skilled_area {
  background-color: #dfe4e7;
}

.progress {
  margin-bottom: 10px;
  height: 3px;
}
.sl_inner {
  padding-top: 61px;
}
.sl_inner h2 {
  padding-bottom: 16px;
  text-shadow: 2px 2px;
}
.nooon {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  width: 57%;
}
/*.................stick.............*/


div#sticker {
	
}
.stick {
	position:fixed;
	top:0px;
    z-index: 999999;
    width: 100%;
}

/*-------------slider------------
------------------------------*/
.owl-carousel .owl-item img {
  border-radius: 63px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 8%;
}
.owl-prev {
  left: 15%;
  padding-left: 89px;
  position: absolute;
  top: 40%;
  width: 50px;
}
.owl-next  {
  right: 15%;
  padding-right: 89px;
  position: absolute;
  top: 40%;
  width: 50px;
}
.testi_carousel {
  padding-bottom: 28px;
  padding-top: 57px;
}
.item > p {
  margin: 0 auto;
  width: 56%;
}
.item > h4 {
  color: #8c40ab;
  margin: 0 auto;
  padding-bottom: 8px;
  padding-top: 16px;
  text-align: center;
}

/*---------------------vide---------
----------------------------------*/


.video-inner {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

.video_area {
  background: #cfe0ca none repeat scroll 0 0;
  padding-top: 32px;
}
.work {
  text-align: center;
}

.work > h3 {
  color: #cc5515;
  text-shadow: 4px 0px 2px black;
  font-size: 44px;
}
.work > p {
  margin: 0 auto;
  padding-bottom: 17px;
  width: 620px;
}
.ve_inner > h2 {
  color: #0381f9;
  text-align: center;
}
.ve_inner > p {
  color: #020202;
  text-align: justify;
}

/*----------------------
-----------add slider----*/

.item.na {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 679%;
}
.add-details {
  background: #f4e4d5 none repeat scroll 0 0;
}



/*--------------counter--------*/

.counter_area {
	background-color: #10c9c3;
	color: #fff;
}
.sc_detail {
	position: absolute;
	top: -9px;
	left: 68px;
}
.single_counter {
  position: relative;
}
.single_counter h5 {
	font-size: 12px;
	font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
span.rain {
  display: block;
  font-family: "Montserrat",sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1px;
}
.counter_area {
  padding-top: 53px;
  padding-bottom: 53px;
}
.sc_detail h5 {
  font-size: 16px;
}

























